#Banner{
    position: relative;
    text-align: center;
    background:#ca1814;
    height:120px;
}

#HomeButton{
    position: absolute;
    top: 28px;
    left: 20px;
    height:64px;
    width:64px;
    background:#ca1814;
    display: inline;

}

#TitleText{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#NewRecipeButton{
position: absolute;
    top: 28px;
    right: 148px;
    height:64px;
    width:64px;
    background:#ca1814;
    display: inline;
}

#FavoritesButton{
position: absolute;
    top: 28px;
    right: 84px;
    height:64px;
    width:64px;
    background:#ca1814;
    display: inline;
}
#UserIcon{
    position: absolute;
    top: 28px;
    right: 20px;
    height:64px;
    width:64px;
    background:#ca1814;
    display: inline;
}
#RecipePhoto{
    height:300px;
    width:300px;
    border:10px solid white;

}

.IngredientList{
    font-size:16pt;
    min-width:200px;
}

/* Overrides for Boostrap */
.btn-outline-secondary{
    background-color: rgba(202,24,20,.2);
    border-color: rgba(202,24,20,1);
}

.btn-outline-secondary:hover{
    background-color: rgba(202,24,20,.5);
    border-color: rgba(202,24,20,.1);
}

#card-footer-color{
    background-color: #ffff;
}

.recipe-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 10px;
}

@media (max-width: 750px) {
    .recipe-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1000px) {
    .recipe-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

