<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipe Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">


    <!-- Using thymeleaf to load style sheet -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body style="background:#FAF4DF">
<!-- Begin Banner -->
<div class="container-fluid" id="Banner">
    <a th:href="@{/user/home}">
        <button class="btn" id="HomeButton">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" style="display: inline;" class="bi bi-house" viewBox="0 0 16 16">
                <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z"/>
            </svg>
        </button>
    </a>
    <h1 style="color:#FAF4DF; font-size:32pt; font-family:Tahoma,serif; display: inline;" id="TitleText">Recipeasy</h1>
    <!-- Favorites Button -->
    <a th:href="@{/user/favorites}">
        <button class="btn" id="FavoritesButton">
            <svg xmlns="http://www.w3.org/2000/svg" height="32" width="32" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
            </svg>
        </button>
    </a>
    <!-- Profile Button -->
    <a th:href="@{/user/profile}">
        <button class="btn" id="UserIcon">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
            </svg>
        </button>
    </a>
</div>
<!-- End Banner -->
<form th:action="@{/user/search}" method="get" style="margin-top: 20px; display: flex; justify-content: center;">
    <label>
        <input type="text" style="min-width:500px" class="form-control" placeholder="Start Searching for Recipes..." name="name">
    </label>
    <button class="btn btn-primary" type="submit">Search</button>
</form>
<!-- Recipe Image -->
<div style="margin:20px;">
    <div style="display:flex; flex-direction: row; justify-content: flex-start; gap: 20px;">
        <img th:src="${meal.strMealThumb}" alt="Strawberries Romanoff" id="RecipePhoto">
        <div>
            <!-- Title -->
            <h2 th:text="${meal.strMeal}">Strawberries Romanoff</h2>
            <!-- Country of Origin -->
            <p style="font-size:16pt" th:text="${meal.strArea}">Russia</p>
            <!-- Category -->
            <p style="font-size:16pt" th:text="${meal.strCategory}"><i>Dessert</i></p>
            <!-- Save Button -->
<!--            <button class="btn" th:if="${favorite == false}" th:action="${@myFavoriteService.addFavorite(user.getUserId(),mealId)}">-->
<!--                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">-->
<!--                    <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>-->
<!--                </svg>-->
<!--            </button>-->
            <button class="btn">
                <svg xmlns="http://www.w3.org/2000/svg" height="32" width="32" fill="#ca1814" class="bi bi-heart-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                </svg>
            </button>
        </div>
    </div>
</div>
<div style="margin:10px;">
    <div style="margin:20px; min-height:30px; display:flex; flex-direction: row; justify-content: flex-start; gap:310px">
        <h3>Ingredients</h3>
        <h3>Instructions</h3>
    </div>
    <div style="display:flex;">
        <div style="display:flex; flex-direction: column; justify-content: flex-start;">
            <div th:each="ingredient : ${meal.getIngredients()}" >
                <!-- Ingredient 1 -->
                <div class="form-check" >
                    <div style="display:flex; flex-direction: row; justify-content: flex-start; gap:10px;">
                        <label>
                            <input class="form-check-input" type="checkbox" style="margin:10px 0 0 0">
                        </label>
                        <p class="IngredientList" th:text="${ingredient.getIngredientName()}">Strawberries</p>
                        <p class="IngredientList" th:text="${ingredient.getIngredientAmount()}">2 Pint</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Description Text -->
        <div style="margin:0 50px 0 0" >
            <p th:text="${meal.strInstructions}">
                In a medium bowl, combine hulled and quartered strawberries, 4 Tbsp sugar and 4 Tbsp liqueur, stir to
                combine then cover and refrigerate at least 1 hour and up to 2 hours, stirring once or twice. <br><br>
                Just before serving, in a large mixing bowl, combine 1 cup cold heavy cream and 1/4 cup powdered sugar,
                and beat with an electric mixer until stiff peaks form. Using a spatula, fold in 1/4 cup sour cream just
                until well blended. <br><br> To serve, stir strawberries then divide between 6 serving glasses or bowls.
                You can spoon a little syrup over the berries if you like. You can also use this syrup to soak a cake.
                Spoon cream over strawberries, dividing evenly. You can also use an ice cream scoop with trigger release
                for a nice rounded puff of cream. Serve right away or chill and enjoy within 2 hours of assembly.
            </p>
        </div>
    </div>


    <div style="margin:20px; min-height:50px;">
        <h3>Questions & Comments</h3>
    </div>


    <!-- Comments -->
    <div style="margin:20px;">
        <div class="card" style="width: 36rem;">
            <div class="card-body">
                <h5 class="card-title">User12432953209</h5>
                <p class="card-text">I am a long and rambling comment asking a question that is already explained in the short instructions I somehow failed to read.</p>
                <a href="#" style="position:absolute; right:20px; bottom:10px; font-size:10pt">Report</a>
            </div>
        </div>


        <div class="card" style="width: 36rem; margin:10px 0 0 75px;">
            <div class="card-body">
                <h5 class="card-title">Phil</h5>
                <h6 class="card-subtitle"><i>Creator</i></h6>
                <p class="card-text">I am a somewhat short but polite response to the question.</p>
                <a href="#" style="position:absolute; right:20px; bottom:10px; font-size:10pt">Report</a>
            </div>
        </div>
    </div>


    <div style="margin:40px 20px 20px 20px;">
        <div class="card" style="width: 36rem;">
            <div class="card-body">
                <h5 class="card-title">User43432</h5>
                <p class="card-text">Thank you for posting this recipe!</p>
                <a href="#" style="position:absolute; right:20px; bottom:10px; font-size:10pt">Report</a>
            </div>
        </div>


        <div class="card" style="width: 36rem; margin:10px 0 0 75px;">
            <div class="card-body">
                <h5 class="card-title">Phil</h5>
                <h6 class="card-subtitle"><i>Creator</i></h6>
                <p class="card-text">I'm glad you like it!</p>
                <a href="#" style="position:absolute; right:20px; bottom:10px; font-size:10pt">Report</a>
            </div>
        </div>
    </div>


    <!-- Comment Textbox -->
    <div style="max-width:50%; margin:20px;">
        <div>
            <label for="CommentTextArea" class="form-label" style="font-size:18pt;">Leave a Comment:</label>
            <textarea class="form-control" id="CommentTextArea" rows="3"></textarea>
        </div>
        <div class="col-auto" style="float:right; margin:10px 0 0 0">
            <button type="submit" class="btn btn-primary mb-3">Comment</button>
        </div>
    </div>
</div>
</body>
</html>
